{
  email {$ACME_EMAIL}
}

{$CLASSROOM_DOMAIN} {
  encode zstd gzip
  handle /api/* {
    reverse_proxy api:4300
  }
  handle {
    reverse_proxy web:80
  }
}

{$LIVEKIT_DOMAIN} {
  encode zstd gzip
  reverse_proxy livekit:7880
}
